*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #f5634c, rgba(161, 75, 230, 0.7));
}
h1 {
  text-align: center;
  font-weight: bold;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
